.header-nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 25px 0;

}
.header-nav-list
.header-nav-contacts {
    display: flex;
    gap: 50px;
}
.header-nav-list li a:hover {
    color: aqua;
}
.header-nav-list li a:hover {
    color: aqua;
}
